nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    align-items: center;;
}

.link {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.footer {
    background-color: #444444;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.btnCart {
    border: none;
    background-color: transparent;
}

.fa-cart-shopping {
    color: white;
}

.fa-xmark {
    color: black;
}